body {
  margin: 2em;
  background: #E8E8E8;
}

p {
  background: none;
  border: 0;
  color: #BDBDBD;
  font-size: 4em;
  margin-left: -4px;
  align: center;
}

ul {
    list-style-type: none;
}

p.active {
  color: #46749A;
}

.hidden {
  display: none;
}

.deleted {
  text-decoration: line-through;
  background-color: #ff8080;
}

.row-centered {
    text-align: center;
}

.active {
  background-color: #609ab6;
}